footer {
    width: 100%;
    height: 200px;
    background-color: #1f3137;
    margin-top: 100px;
}

.social-network {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-network li {
    list-style-type: none;
}
.social-network li i  {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.social-network li i a {
    margin: 20px;
    margin-top:180px;
}
